$white: #f0ece7;
$content: #9c797ed7;
$contentFull: #9c797e;
$contentHover: #735156;

$lifeFull: rgb(161, 253, 23);
$lifeDanger: rgb(253, 23, 23);
$lifeWarning: rgb(253, 161, 23);
$lifeLow: rgb(253, 253, 23);
$lifeAlmostFull: rgb(203, 253, 23);


$dash-size: 1.5px;
$heal-color: mediumseagreen;
$attack-color: crimson;
$crit-color: rgb(76, 220, 233);
$fill-color: beige;